doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title= locals._id
    link(rel="stylesheet", href="main.css")
  body
    h1= locals.client_details.client_first_name + ' ' + locals.client_details.client_last_name
    h2= locals.client_details.client_email
    h3= locals.client_details.client_phone
    
